//
//  Common
//  _____________________________________________
& when (@media-common =true) {

    // Container do Resumo do Carrinho
    .cart-container .cart-summary {
        .lib-css(position, static);
        .lib-css(background-color, @color-white);
        .lib-css(border, 1px solid @color-gray79);
        .lib-css(border-radius, 10px);
        .lib-css(color, @color-gray46);

        select,
        input[type="text"] {
            .lib-css(border, 1px solid #9D9D9D);
            .lib-css(color, @color-gray46);
        }
    }

    // Formulário do Resumo do Carrinho
    #block-summary {
        .lib-css(display, block) !important;
    }

    // Texto de consulta de frete
    #block-shipping-heading {
        color: black;
        font-weight: 400;
        font-size: 16px;
    }

    // Remover seta do título de consulta do bloco de frete
    .cart-summary .block.shipping.active .title::after {
        content: "";
    }

    // Labels do campo de consulta de frete
    .cart-container .fieldset.estimate .label {
        .lib-css(color, @color-black);
    }

    // Container dos métodos de frete
    .cart-summary .fieldset.rate .items.methods {
        .lib-css(color, @color-black);
        .lib-css(font-weight, 700);
    }

    // Total do pedido
    .cart-summary .table-wrapper tr.grand.totals {
        .lib-css(color, @color-black);
    }

    // Botão de Finalizar Compra
    .cart-summary .item .action.primary.checkout {
        .lib-css(font-size, 16px);
        .lib-css(letter-spacing, normal);
        .lib-css(border-radius, 8px);

        &:hover {
            .lib-css(background-color, darken(@theme__color__primary, 10%));
            .lib-css(border, none);
            .lib-css(color, @color-white);
        }
    }

    // Texto de Multicheckout
    .cart-summary .item .action.multicheckout {
        .lib-css(color, black);
        .lib-css(font-size, 13px);
        .lib-css(text-decoration, underline);
    }

    // Botão de Atualizar Carrinho
    .cart-container .cart.main.actions .action.update {
        .lib-css(letter-spacing, normal);
        .lib-css(font-size, 16px);
        .lib-css(font-weight, 700);
        .lib-css(color, white);
        .lib-css(background-color, @theme__color__primary);
        .lib-css(border-radius, 8px);
        .lib-css(padding, 14px 24px);

        &:hover {
            .lib-css(background-color, darken(@theme__color__primary, 10%));
            .lib-css(border, none);
            .lib-css(color, @color-white);
        }
    }

    // Título do Cupom de Desconto
    #block-discount-heading {
        .lib-css(color, #353535);
        .lib-css(font-size, 14px);
        .lib-css(font-weight, 500);
    }

    // Input do Cupom de Desconto
    #coupon_code,
    #discount-code {
        .lib-css(height, 30px);
        .lib-css(border-color, #A9A9A9);

        &::placeholder {
            .lib-css(color, transparent);
        }
    }

    // Botão de Aplicar Cupom de Desconto
    .fieldset.coupon .actions-toolbar .primary .action.apply.primary,
    .payment-option-content .actions-toolbar .primary .action.action-apply {
        .lib-css(letter-spacing, normal);
        .lib-css(font-size, 13px);
        .lib-css(font-weight, 500);
        .lib-css(background-color, @theme__color__primary);
        .lib-css(color, @color-white);

        &:hover {
            .lib-css(background-color, darken(@theme__color__primary, 10%));
            .lib-css(border, none);
            .lib-css(color, @color-white);
        }
    }

    // Container de Produtos CrossSell
    .column.main .cart-container .block.crosssell {
        .lib-css(width, 100%);
        .lib-css(padding, 0);
    }

    // Título de Produtos CrossSell
    .cart-container .block.crosssell #block-crosssell-heading {
        .lib-css(font-size, 20px);
        .lib-css(color, @color-black);
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ="max") and (@break =@screen__m) {

    // Container do botão de menu
    .checkout-cart-index .header.content .nav-toggle {
        .lib-css(display, none);
    }

    // Título da Página do Carrinho de Compras
    .checkout-cart-index .page-title-wrapper .page-title {
        .lib-css(font-size, 20px);
        .lib-css(padding-left, 26px);
        .lib-css(margin-bottom, 14px);
        .lib-css(margin-top, 10px);
    }

    // Container do Resumo do Carrinho
    .cart-container .cart-summary {
        .lib-css(padding, 27px 34px 26px 34px);
        .lib-css(margin, 0 15px);
    }

    // Container do conteúdo do Resumo do Carrinho
    #block-summary.content {
        .lib-css(padding, 0);
    }

    // Container da Tabela do Carrinho de Compras
    .checkout-cart-index .cart-container .cart.table-wrapper {
        .lib-css(border, none);
    }

    // Tabela do Carrinho de Compras
    #shopping-cart-table {
        .lib-css(color, @color-black);
        .lib-css(max-width, 94%);
        .lib-css(margin, auto);

        // Imagem do Produto
        .product-item-photo {
            .lib-css(max-width, 88px);
        }

        .product-item-details {
            .lib-css(margin, 30px 0 0 36px)
        }

        // Nome do Produto
        .product-item-name a {
            .lib-css(font-size, 14px);
            .lib-css(color, @color-black);
        }

        // Container de opções do produto
        .item-options {
            .lib-css(display, none);
        }

        // Preço do Produto
        .col.price {
            .lib-css(padding-left, 40px);
            .lib-css(padding-top, 27px);
        }

        .col.subtotal {
            .lib-css(padding-top, 24px);
        }

        .cart-price .price {
            .lib-css(color, @color-black);
            .lib-css(font-size, 16px);
            .lib-css(font-weight, 900);
        }

        // Quantidade do Produto
        .control.qty input {
            .lib-css(border-color, @color-form-border);
        }

        // Link para mover o produto para a lista de desejos
        .use-ajax.action.towishlist.action-towishlist {
            .lib-css(padding-left, 24px);

            &::before {
                .lib-css(color, @theme__color__primary);
            }
        }

        // Botão de Editar Produto
        .action.action-edit {
            .lib-css(padding-right, 24px);
            .icon-image-before('images/icons/pencil/black-small-pencil.svg', 12px, 12px);
        }

        // Botão de Remover Produto
        .action.action-delete {
            .lib-css(padding-right, 30px);
            .icon-image-before('images/icons/trash/black-small-trash.svg', 18px, 15px);
        }

    }

    // Container dos métodos de checkout
    .checkout-cart-index .cart-container .checkout.methods.items.checkout-methods-items {
        .lib-css(padding, 0);
    }

    // Container do Resumo do Carrinho
    .cart-container .cart-summary .cart-totals {
        .lib-css(padding, 10px 0 0 0);
        .lib-css(margin-top, 50px);
    }

    // Container do Cupom de Desconto
    .cart-container .cart-discount {
        .lib-css(border, none);
        .lib-css(margin, 94px 0 129px 0);
        .lib-css(padding, 0 33px);

        .title {
            .lib-css(margin-bottom, 31px);
        }
    }

    // Título dos Produtos CrossSell
    .block.crosssell .block-title {
        .lib-css(padding-left, 16px);
    }

    // Container de cada Produto CrossSell
    .checkout-cart-index .block.crosssell .item.product.product-item {
        .lib-css(max-width, 172px);

        .product-item-info {
            .lib-css(min-height, 380px);
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ="min") and (@break =@screen__m) {

    // Título da Página do Carrinho de Compras
    .checkout-cart-index .page-title-wrapper {
        .lib-css(margin, 118px 0 64px 0);
    }

    // Container das Colunas do Carrinho de Compras
    .checkout-cart-index .columns,
    .checkout-cart-index .page-main {
        .lib-css(max-width, 1288px);
    }

    // Container do Resumo do Carrinho
    .cart-container .cart-summary {
        .lib-css(padding, 0 16px 24px 16px);
        .lib-css(margin-top, -122px);
    }

    // Título do Resumo do Carrinho
    .cart-container .cart-summary .summary.title {
        .lib-css(font-size, 18px);
        .lib-css(margin-top, 30px);
        .lib-css(color, black);
        .lib-css(font-weight, 700);
    }

    // Tabela do Carrinho de Compras
    #shopping-cart-table {
        .lib-css(border-collapse, separate);
        .lib-css(border-spacing, 0);

        thead {
            .lib-css(color, @color-black);
            .lib-css(background-color, @theme__color__light-gray);
        }

        thead th {
            .lib-css(padding, 12px 0);
        }

        thead th:first-child {
            .lib-css(border-top-left-radius, 8px);
            .lib-css(padding-left, 41px);
        }

        thead th:last-child {
            .lib-css(border-top-right-radius, 8px);
            .lib-css(padding-right, 10px);
        }

        // Linha de cada Produto no Carrinho
        .cart.item {
            .lib-css(height, 253px);
        }

        // Nome do Produto
        .product-item-name {
            .lib-css(font-size, 16px);
        }

        // Preço do Produto  .col.subtotal .cart-price .price 
        .cart-price .price {
            .lib-css(font-size, 16px);
            .lib-css(font-weight, 400);
        }

        // Quantidade do Produto
        .control.qty input {
            .lib-css(border-color, #B8B8B8);
        }

        // Alinhamento das Colunas de Quantidade e Preço
        .cart.item .col.qty,
        thead tr th.col.qty,
        .cart.item .col.price,
        thead tr th.col.price {
            .lib-css(text-align, center);
        }

        // Opções do Produto
        .item-options {
            .lib-css(font-size, 13px);
            .lib-css(color, #565656);
        }

        // Link para mover o produto para a lista de desejos
        .item-actions .actions-toolbar {
            .lib-css(border-bottom, 1px solid @color-gray83);

            a {
                .lib-css(color, #565656);
            }
        }

        // Botão de Editar Produto
        .actions-toolbar .action-edit {
            .icon-image-before('images/icons/pencil/gray-pencil.svg', 18px, 15px);
        }

        // Botão de Remover Produto
        .actions-toolbar .action-delete {
            .icon-image-before('images/icons/trash/gray-trash.svg', 17px, 16px);
        }

    }

    // Botão de Atualizar Carrinho
    .cart-container .cart.main.actions .action.update {
        .lib-css(width, 375px);
    }

    // Container do conteúdo do Cupom de Desconto
    .checkout-cart-index .cart-discount .block.discount.active .content {
        .lib-css(margin-top, 29px);
    }

    // Título do Cupom de Desconto
    .checkout-cart-index .cart-discount .block.discount .title {
        .lib-css(margin-top, 30px);
    }

    // Container de cada Produto CrossSell na Slick
    .checkout-cart-index .block.crosssell .slick-slide {
        .lib-css(width, 242px);
        .lib-css(margin, 0 5px);
    }

    // Item de cada Produto CrossSell
    .checkout-cart-index .block.crosssell .product-item .product-item-info {
        .lib-css(width, 242px);
        .lib-css(min-height, 525px);
    }

    // Botão Próximo da Slick de Produtos CrossSell
    .checkout-cart-index .block.crosssell button.slick-next.slick-arrow {
        .lib-css(transform, translate(34px, -110px));
    }

    // Botão Anterior da Slick de Produtos CrossSell
    .checkout-cart-index .block.crosssell button.slick-prev.slick-arrow {
        .lib-css(transform, translate(-35px, -110px));
    }
}