//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common =true) {}

.page-header .panel.wrapper {
    .lib-css(min-height, 30px);
}

.page-header .panel.wrapper .panel.header {
    .lib-css(padding, 0px);
}

.page-header .header.panel .promo-header-message {
    .lib-css(font-size, 14px);
    .lib-css(padding, 4px 0);
    .lib-css(line-height, 22px);
    .lib-css(text-align, center);
    .lib-css(font-weight, 700);
}

.page-header .header.panel .promo-header-message>strong:nth-child(1) {
    .lib-css(background-color, @theme__color__purple);
    .lib-css(padding, 0 3px);
    .lib-css(border-radius, 3px);
}

.page-header .header.panel .promo-header-message {
    .lib-css(text-align, center);
    .lib-css(font-weight, bold)
}

.page-header .header.panel .promo-header-message>strong:nth-child(2) {
    .lib-css(font-weight, 300);
    font-style: italic;
}


.page-header .header.content .block.block-search .block.block-content input[type="text"] {
    .lib-css(border-radius, 7px);
    .lib-css(padding, 18px 16px);
    .lib-css(border-color, #dddddd);

    &::placeholder {
        .lib-css(color, #0f0f0f);
    }
}

.page-header .header.content .header.links {
    .lib-css(font-weight, 600);
}

.header.content .header.links .customer-auth-links .profile-icon img {
    .lib-css(transform, translateY(6px));
}

.action.showcart {
    .lib-css(display, flex);
    .lib-css(align-items, center);
    .lib-css(gap, 8px);
    .lib-css(transform, translateY(6px));
}

.minicart-wrapper .action.showcart::before {
    content: "";
    .lib-css(background-image, url("@{baseDir}images/cart.svg"));
    .lib-css(width, 24px);
    .lib-css(height, 24px);
}

.minicart-wrapper .action.showcart.active::before {
    content: "";
}

.minicart-wrapper .action.showcart .counter.qty {
    .lib-css(border-radius, 50%);
    .lib-css(transform, translate(-13px, -13px));
    .lib-css(line-height, 20px);
    .lib-css(min-width, 16px);
    .lib-css(height, 20px);
}

.page-header .header.content .minicart-wrapper {
    .lib-css(margin, 0px);
}

.page-header .header.content .minicart-wrapper .action.showcart {
    .lib-css(transform, translateY(-1px));
}

// Ícone da Lupa
.header.content .block.block-content .form.minisearch .actions .action.seach::before,
.header.content .block.block-content .form.minisearch .field.search .label::before {
    content: "";
    .lib-css(background-image, url("@{baseDir}images/search-ico.svg"));
    .lib-css(width, 19px);
    .lib-css(height, 19px);
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ="max") and (@break =@screen__m) {
    .page-header {
        .lib-css(border, none);
    }

    .page-header .header.content {
        .lib-css(position, relative);
        .lib-css(padding, 0px);
        .lib-css(height, 132px);
    }

    // Íncone de Menu Burger
    .page-header .header.content .action.nav-toggle {
        .lib-css(top, 25px);
        .lib-css(left, 16px);
    }

    .page-header .header.content .action.nav-toggle::before {
        content: "";
        .lib-css(background-image, url("@{baseDir}images/menu-burger.svg"));
        .lib-css(width, 24px);
        .lib-css(height, 24px);
    }

    .page-header .panel.wrapper {
        .lib-css(background-color, @theme__color__primary);
    }

    .page-header .header.panel {
        .lib-css(padding, 4px 12px);
        .lib-css(text-align, center);
    }

    .page-wrapper .page-header .header.content a.logo {
        .lib-css(position, absolute);
        .lib-css(margin, 22px 0 0 0);
        .lib-css(left, 50%);
        .lib-css(transform, translateX(-50%));
    }

    .page-header .header.content .block.block-search {
        .lib-css(margin-top, 80px);
    }

    .header.content .block.block-content .field.search .control {
        .lib-css(border, none);
    }

    .header.content .block.block-content .form.minisearch .field.search .label {
        .lib-css(position, absolute);
        .lib-css(left, 80%);
        .lib-css(top, 20%);
    }

    .minicart-wrapper {
        .lib-css(position, absolute);
        .lib-css(top, 20%);
        .lib-css(left, 86%);

    }

    .header.content .block.block-content .form.minisearch.active {
        .lib-css(margin, 30px 16px 16px 16px);
    }

    .page-header .header.content .header.links {
        .lib-css(display, none);
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ="min") and (@break =@screen__m) {
    .page-header .panel.wrapper {
        .lib-css(background-color, @theme__color__primary);
    }

    .page-header .header.content {
        .lib-css(display, flex);
        .lib-css(max-width, 1260px);
        .lib-css(padding, 0px);
        .lib-css(padding-bottom, 20px);
    }

    .page-header .header.content .block.block-search {
        .lib-css(margin-right, clamp(60px, 16.74vw, 211px));
        .lib-css(margin-left, 65px);
        .lib-css(margin-top, 17px);
        .lib-css(padding, 0px);
        .lib-css(float, left);
        .lib-css(width, 600px);
    }

    .page-header .header.content .block.block-search .block.block-content input[type="text"] {}

    .actions .action.seach {
        .lib-css(transform, translateY(3px));
    }

    .page-header .header.content .header.links {
        .lib-list-reset-styles();
        .lib-css(font-size, 14px);
        .lib-css(min-width, 163px);
        .lib-css(height, 24px);
        .lib-css(margin-top, 20px);
        .lib-css(color, black);
        .lib-css(display, flex);
        .lib-css(flex-wrap, nowrap);
        .lib-css(align-items, center);
        .lib-css(gap, 16px);
    }

    .page-header .header.content .header.links a {
        .lib-css(color, black);
    }

    .logo {
        .lib-css(margin-top, 22px);
        .lib-css(margin-right, 0px);
    }

    .header.content .block.block-content .form.minisearch .field.search {
        .lib-css(height, 40px);

    }    

    .page-header .header.content .minicart-wrapper {
        .lib-css(margin, 22px 0px 0px 34px);
    }

    .navigation ul {
        .lib-css(display, flex);
        .lib-css(justify-content, space-between);
    }

    .custom-featured-section {
        .lib-css(text-align, center);
        .lib-css(padding, 30px 0);

        h1 {
            .lib-css(font-size, 28px);
            .lib-css(margin-bottom, 20px);
            .lib-css(color, #000);
            .lib-css(font-weight, bold);
        }

        .featured-items {
            .lib-css(display, flex);
            .lib-css(justify-content, space-between);
            // .lib-css(gap, 40px);
            .lib-css(flex-wrap, wrap);

            .featured-item {
                .lib-css(text-align, center);

                img {
                    .lib-css(margin-bottom, 10px);
                }

                a {
                    .lib-css(display, block);
                    .lib-css(font-size, 14px);
                    .lib-css(color, #000);
                    .lib-css(text-decoration, none);
                    .lib-css(text-decoration, none);

                    &:hover {
                        .lib-css(text-decoration, underline);
                    }
                }
            }
        }
    }

    .page-footer {
        .lib-css(background-color, #F5F5F5);
        .lib-css(padding, 64px 0);
    }
}