<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
   <default>
       <avanti_crosssell_limit>
           <general>
               <enabled>1</enabled>
               <max_value>4</max_value>
           </general>
       </avanti_crosssell_limit>
   </default>
</config>
