<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
   <default>
       <avanti_customcheckout>
           <general>
               <enabled>1</enabled>
               <enable_summary_message>0</enable_summary_message>
           </general>
       </avanti_customcheckout>
   </default>
</config>
